.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    background-color: lightgrey;
    align-items: center;
}


.rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.leftSide {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}

.active {
    text-decoration: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}